<div class="edit">
  <h1>New Article</h1>
  <%= form_with model: @article do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <%= f.submit class: 'btn btn-secondary'  %>
  <% end %>

  <%= link_to 'Go Back', articles_path, class: "btn btn-primary mt-3"  %>
</div>
